version: '3.9'

services:
  mongo_db:
    container_name: db_container
    image: mongo:latest
    restart: always
    volumes:
      - mongo_db:/data/db
  api:
    build: .
    ports:
      - 5000:5000
      - 9229:9229
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/.pnpm-store
      - /usr/src/app/node_modules
    command: pnpm start:docker
    environment:
      PORT: 5000
      MONGODB_URI: mongodb://mongo_db:27017
      NODEMAILER_USER: birdfarmswp@gmail.com
      NODEMAILER_PASSWORD: mngeorziuyhetrgk
      ACCESS_TOKEN_SECRET: This is secret access token
      STRIPE_SECRET_KEY: sk_test_51NrNnFINUTNxgE0XRIW9yfTjXc1aJkfYIVHQONcfbMtAvef0GXee1D7pO24lN1UrG7t0saYlGopoBpgbFSnPQz9e00SIfnW9uH
    depends_on:
      - mongo_db

volumes:
  mongo_db: {}
