name: Bird Farm API CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 20

      - run: npm install -g pnpm

      - run: pnpm install

      - run: pnpm run test

      - run: docker build -t bird-farm-api .

      - run: docker push bird-farm-api